.ui-tooltip {
	background: #0561B4;
	border: 2px solid white;
    color: white;
    padding: 0;
    opacity: 1;
}

.ui-tooltip-content {
    position: relative;
    padding: 1em;
}

.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    border-color: transparent #0561B4;
}

.right .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-width: 10px 10px 10px 0;
}

.left .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-width: 10px 0 10px 10px;
}

.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 72px;
    border-color: #0561B4 transparent;
    border-width: 10px 10px 0;    
}

.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: #0561B4 transparent;
    border-width: 0 10px 10px;
}
